body {
    margin: 0;
    padding: 0;
    background-color: black;
}


#wrapper {
    background-color: #1f2937;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    height: 550px;
}
.header{
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 375px;
    padding-right: 625px;
    flex-wrap: wrap;
}

.hero{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 100px;
    margin-top: 23px;
 
}

ul{
    list-style-type: none;
    gap: 25px;
    display: flex;
    margin-bottom: 100px;
    margin-top: 23px;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    margin: 0;
    margin-top: 40px;
    
}

.main, ul{
    font-size: 18px;
    color: #E5e7eb;
}

.button{
    background-color: #3882F6;
    color: white;
    max-width: 130px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.container{
    display: flex;
    gap: 200px;
}

.main{
    width: 450px;
    display: flex;
    flex-direction: column;
}

img{
  width: 522px;
  height: 240px;
  padding-top: 13px;
}