body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Roboto, sans-serif;
}


#wrapper {
    background-color: #1f2937;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    width: fit-content;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 375px;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.hero{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
    margin-bottom: 100px;
    margin-top: 23px;
 
}

ul{
    list-style-type: none;
    gap: 25px;
    display: flex;
    margin-bottom: 100px;
    margin-top: 23px;
    padding-right: 360px;
}

h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    margin: 0;
    margin-top: 40px;
    
}

.main, ul{
    font-size: 18px;
    color: #E5e7eb;
}

.button{
    background-color: #3882F6;
    color: white;
    max-width: 150px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    padding: 10px 5px;
}

.container{
    display: flex;
    gap: 200px;
}

.main{
    width: 450px;
    display: flex;
    flex-direction: column;
}

img{
  width: 522px;
  height: 240px;
  padding-top: 13px;
}

.content{
    background-color: white;
    height: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.box{
    border: 5px solid #3882F6;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 16px;
    padding: 16px;
    margin: 16px;
    height: 180px;
    width: 180px;
    
   
}

.title{
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 32px;
    text-align: center;
    color: #1f2937;
    padding-top: 50px;
    
}

.container2{
    display: flex;
    text-align: center;
    justify-content: center;
    
    gap: 100px;
}

.info{
    max-width: 200px;
    align-items: center;
}

.text{
    font-size: 18px;
 
}